# Ignore Python virtual environments
model_core/venv/
backend/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Node modules (Frontend)
frontend/node_modules/

# Environment variables
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Ignore model files in backend
backend/*.h5
backend/*.pkl
